[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
uvicorn = "*"
pydantic-settings = "*"
psycopg2 = "*"
pydantic = "*"
email-validator = "*"

[dev-packages]
black = "*"
pylint = "*"
tavern = "*"
pytest = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
